In [1]:
import pandas as pd
import numpy as np

In [3]:
niaaa_path = "../resources/niaaa_data_txt_to_csv.csv"
niaaa_df = pd.read_csv(niaaa_path,header=None)
niaaa_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1970,1,1,3863000,1738350,2499000,6956,9,2020000,8606,9,.,.,.
1,1970,1,2,1412000,225920,2499000,904,9,2020000,1118,9,.,.,.
2,1970,1,3,33098000,1489410,2499000,5960,10,2020000,7373,10,.,.,.
3,1970,1,4,.,3453680,2499000,13820,10,2020000,17097,10,.,.,.
4,1970,2,1,945000,425250,205000,20744,1,165000,25773,1,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10972,2018,99,1,570983458,234674202,270449061,8677,.,240910947,9741,.,.,384,219257648
10973,2018,99,2,913944969,117898901,270449061,4359,.,240910947,4894,.,.,117,106931561
10974,2018,99,3,6318315520,284324198,270449061,10513,.,240910947,11802,.,.,48,303279145
10975,2018,99,4,.,636897302,270449061,23550,.,240910947,26437,.,.,.,629468354
10976,2018,99,4,.,636897302,270449061,23550,.,240910947,26437,.,.,.,629468354

In [5]:
niaaa_col_path = "../resources/NIH NIAAA CSV FILE - COLUMN HEADERS.csv"
niaaa_col_df = pd.read_csv(niaaa_col_path,header=None)
niaaa_col_df

     0                                                  1
0    1                       Year (4-digit calendar year)
1    2  Geographic ID code (FIPS code, see specificati...
2    3         Type of beverage (see specification below)
3    4                                Gallons of beverage
4    5              Gallons of ethanol (absolute alcohol)
5    6                      Population (age 14 and older)
6    7     Gallons of ethanol per capita age 14 and older
7    8  Decile for per capita consumption age 14 and o...
8    9                      Population (age 21 and older)
9   10     Gallons of ethanol per capita age 21 and older
10  11  Decile for per capita consumption age 21 and o...
11  12                                Type of data source
12  13               Time-varying alcohol by volume (ABV)
13  14   Gallons of ethanol derived from time-varying ABV

In [6]:
niaaa_columns = niaaa_col_df[1]
niaaa_columns

0                          Year (4-digit calendar year)
1     Geographic ID code (FIPS code, see specificati...
2            Type of beverage (see specification below)
3                                   Gallons of beverage
4                 Gallons of ethanol (absolute alcohol)
5                         Population (age 14 and older)
6        Gallons of ethanol per capita age 14 and older
7     Decile for per capita consumption age 14 and o...
8                         Population (age 21 and older)
9        Gallons of ethanol per capita age 21 and older
10    Decile for per capita consumption age 21 and o...
11                                  Type of data source
12                 Time-varying alcohol by volume (ABV)
13     Gallons of ethanol derived from time-varying ABV
Name: 1, dtype: object

In [23]:
niaaa_df.columns = [niaaa_columns]
niaaa_df

1,Year (4-digit calendar year),"Geographic ID code (FIPS code, see specification below)",Type of beverage (see specification below),Gallons of beverage,Gallons of ethanol (absolute alcohol),Population (age 14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (age 21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV
0,1970,1,1,3863000,1738350,2499000,6956,9,2020000,8606,9,.,.,.
1,1970,1,2,1412000,225920,2499000,904,9,2020000,1118,9,.,.,.
2,1970,1,3,33098000,1489410,2499000,5960,10,2020000,7373,10,.,.,.
3,1970,1,4,.,3453680,2499000,13820,10,2020000,17097,10,.,.,.
4,1970,2,1,945000,425250,205000,20744,1,165000,25773,1,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10972,2018,99,1,570983458,234674202,270449061,8677,.,240910947,9741,.,.,384,219257648
10973,2018,99,2,913944969,117898901,270449061,4359,.,240910947,4894,.,.,117,106931561
10974,2018,99,3,6318315520,284324198,270449061,10513,.,240910947,11802,.,.,48,303279145
10975,2018,99,4,.,636897302,270449061,23550,.,240910947,26437,.,.,.,629468354
10976,2018,99,4,.,636897302,270449061,23550,.,240910947,26437,.,.,.,629468354

In [16]:
niaaa_df_norm = niaaa_df.rename(columns = {"Geographic ID code (FIPS code, see specification below)" : "Geo Code"})
niaaa_df_norm

1,Year (4-digit calendar year),Geo Code,Type of beverage (see specification below),Gallons of beverage,Gallons of ethanol (absolute alcohol),Population (age 14 and older),Gallons of ethanol per capita age 14 and older,Decile for per capita consumption age 14 and older,Population (age 21 and older),Gallons of ethanol per capita age 21 and older,Decile for per capita consumption age 21 and older,Type of data source,Time-varying alcohol by volume (ABV),Gallons of ethanol derived from time-varying ABV
0,1970,1,1,3863000,1738350,2499000,6956,9,2020000,8606,9,.,.,.
1,1970,1,2,1412000,225920,2499000,904,9,2020000,1118,9,.,.,.
2,1970,1,3,33098000,1489410,2499000,5960,10,2020000,7373,10,.,.,.
3,1970,1,4,.,3453680,2499000,13820,10,2020000,17097,10,.,.,.
4,1970,2,1,945000,425250,205000,20744,1,165000,25773,1,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10972,2018,99,1,570983458,234674202,270449061,8677,.,240910947,9741,.,.,384,219257648
10973,2018,99,2,913944969,117898901,270449061,4359,.,240910947,4894,.,.,117,106931561
10974,2018,99,3,6318315520,284324198,270449061,10513,.,240910947,11802,.,.,48,303279145
10975,2018,99,4,.,636897302,270449061,23550,.,240910947,26437,.,.,.,629468354
10976,2018,99,4,.,636897302,270449061,23550,.,240910947,26437,.,.,.,629468354

In [17]:
niaaa_geo_code_path = "../resources/niaaa_data_geographic_id_code.csv"
niaaa_geo_code_df = pd.read_csv(niaaa_geo_code_path,header=None)
niaaa_geo_code_df.columns = ["code","state_region"]
niaaa_geo_code_df

    code          state_region
0      1               Alabama
1      2                Alaska
2      4               Arizona
3      5              Arkansas
4      6            California
5      8              Colorado
6      9           Connecticut
7     10              Delaware
8     11  District of Columbia
9     12               Florida
10    13               Georgia
11    15                Hawaii
12    16                 Idaho
13    17              Illinois
14    18               Indiana
15    19                  Iowa
16    20                Kansas
17    21              Kentucky
18    22             Louisiana
19    23                 Maine
20    24              Maryland
21    25         Massachusetts
22    26              Michigan
23    27             Minnesota
24    28           Mississippi
25    29              Missouri
26    30               Montana
27    31              Nebraska
28    32                Nevada
29    33         New Hampshire
30    34            New Jersey
31    35            New Mexico
32    36              New York
33    37        North Carolina
34    38          North Dakota
35    39                  Ohio
36    40              Oklahoma
37    41                Oregon
38    42          Pennsylvania
39    44          Rhode Island
40    45        South Carolina
41    46          South Dakota
42    47             Tennessee
43    48                 Texas
44    49                  Utah
45    50               Vermont
46    51              Virginia
47    53            Washington
48    54         West Virginia
49    55             Wisconsin
50    56               Wyoming
51    91      Northeast Region
52    92        Midwest Region
53    93          South Region
54    94           West Region
55    99         United States

In [28]:
niaaa_df_geo = pd.merge(niaaa_df_norm, niaaa_geo_code_df, left_on ="Geo Code",
                             right_on="code", how="left")
niaaa_df_geo

TypeError: only integer scalar arrays can be converted to a scalar index

In [ ]:
niaaa_df['state_region'] = niaaa_df.lookup(df['best'])